@use './variables' as *;

.chats {
  background: $background-card-color;
  height: 100%;

  .chatsHeader {
    width: 100%;
    align-items: start;
    position: relative;
    padding: 16px;

    .dropDownMenuButton {
        color: $second-text-color;
        transition: all 0.4s;

        svg {
            width: 36px;
            height: 36px;
            transition: all 0.5s;
        }

        &:hover {
            color: $second-text-hover-color;

            svg {
                transform: rotate(30deg);
            }
        }
    }

    .searchBox {
        position: relative;
        width: 100%;
        border-radius: 0px 12px 12px 12px;
        // padding: 8px;
        background-color: $background-color;

        &.active {
            border-radius: 0px 12px 0px 0px;
        }

        .searchInput {
            font-size: $rem1;
            line-height: 1.5;
            border-radius: 12px;
            padding: 8px;
            background-color: $background-color;
        }

        .nullMessage {
            text-align: start;
            font-size: $rem1;
            line-height: 1.5;
            color: $second-text-color;
            font-weight: 600;
            width: 100%;
            padding: 8px;
        }

        .searchResultBox {
            background-color: $background-color;
            width: 100%;
            position: absolute;
            top: 100%;
            border-radius: 0px 0px 12px 12px;
            overflow: hidden;

            .searchResultCard {
                align-items: center;
                cursor: pointer;
                background-color: transparent;
                transition: all 0.4s;
                padding: 16px;

                &:hover {
                    background-color: $background-card-hover-color;
                }

                .fullname {
                    color: $text-color;
                    font-size: $rem1;
                    font-weight: 600;
                    line-height: 1.5;
                }

                .username {
                    color: $second-text-color;
                    font-size: $rem0_875;
                    font-weight: 500;
                    line-height: 1.5;
                }
            }
        }
    }

    .dropDownMenu {
        overflow: hidden;
        z-index: 999;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $background-card-color;
        min-width: 300px;
        width: 100%;
        height: 100vh;
        padding: 8px 0;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.15);

        .profileBox {
            align-items: start;

            .user {
                padding: 16px;
                width: 100%;

                .userHeader {
                    align-items: center;

                    .textBox {
                        color: $text-color;
                        
                        .fullname {
                            white-space: nowrap;
                            font-size: $rem1;
                            line-height: 1.5;
                            font-weight: 500;
                        }

                        .username {
                            font-size: $rem0_875;
                            line-height: 1.5;
                            font-weight: 500;
                            color: $second-text-color;
                        }
                    }
                }
            }

            .closeButton {
                padding: 8px;
                transition: all 0.5s;
                
                svg {
                    max-width: none;
                    color: $text-color;
                    transition: all 0.5s;
                }

                &:hover {
                    svg {
                        transform: rotate(30deg);
                    }
                }
            }

            .description {
                padding: 0px 16px 8px 16px;
                width: 100%;
                font-size: $rem0_875;
                color: $second-text-color; 
                font-weight: 400;
                border-bottom: 1px $main-color solid;
                margin-bottom: 16px;
                line-height: 1.5;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                line-clamp: 3;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                word-break: break-word;
            }

            .setDescriptionButton {
                text-align: start;
                color: $main-color;
                transition: all 0.4s;

                &:hover {
                    color: $main-hover-color;
                }
            }
        }

        .chatsHeaderNavigate {
            button {
                display: flex;
                gap: 8px;
                align-items: center;
                font-size: $rem1;
                font-weight: 500;
                line-height: 1.5;
                padding: 8px 16px;
                text-decoration: none;
                color: $text-color;
                background-color: transparent;
                transition: all 0.4s;

                &:hover {
                    background-color: $background-card-hover-color;
                }
            }
        }

        .theme-toggle {
            width: 100%;
            padding: 8px 16px;
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            gap: 8px;
            font-family: sans-serif;
            user-select: none;

            input {
                display: none;
            }

            .slider {
                position: relative;
                width: 50px;
                height: 26px;
                background: $second-text-color;
                border-radius: 26px;
                transition: background 0.3s ease;

                &::before {
                content: "";
                position: absolute;
                top: 3px;
                left: 3px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #fff;
                transition: transform 0.3s ease;
                }
            }

            input:checked + .slider {
                background: $main-color;

                &::before {
                transform: translateX(24px);
                }
            }

            .mode-text {
                font-size: $rem1;
                font-weight: 500;
                line-height: 1.5;
                color: $text-color;
            }
        }
    }
  }

  .chatCard {
    background-color: transparent;
    width: 100%;
    padding: 16px;
    transition: all 0.4s;

    &:hover {
        cursor: pointer;
        background-color: $background-card-hover-color;
    }

    &.active {
        background-color: $main-active-color;

        .chatCardInfoContent, .lastMessageDate {
            color: $text-color !important;
        }
    }

    .chatCardInfo {
        color: $text-color;
        align-items: start;
        width: 100%;

        .chatCardInfoHeader {
            width: 100%;
        }

        .fullname {
            line-height: 1.5;
            font-size: $rem1;
            font-weight: 600;
        }

        .lastMessageDate {
            color: $second-text-color;
            line-height: 1.5;
            font-size: $rem0_875;
            font-weight: 500;
        }

        .chatCardInfoContent {
            color: $second-text-color;
            line-height: 1.5;
            font-weight: 400;
            font-size: $rem0_875;
        }
    }
  }
}

.chats.collapsed {

    .chatsHeader {
        position: static;
        .searchInput {
            display: none;
        }

        .dropDownMenu {
            overflow: hidden;
            z-index: 2;
            width: 300px;
            height: 100%;
        }
    }

    .chatCard {

        img {
            max-width: none;
            width: 36px;
            height: 36px;
        }

        .chatCardInfo {
            display: none;
        }
    }
}

.resizer {
    border-radius: 28px;
    width: 4px;
    height: 100%;
    background-color: $background-card-color;
    cursor: col-resize;
    transition: background-color 0.2s;

    &:hover {
        background-color: $second-text-color;
    }
}