.feedPage {
    width: 100%;
    height: 100%;
}

.feedPage .left-box{
    flex: 2;
}

.feedPage .right-box{
    width: fit-content;
}

.storiesSection {
    width: 100%;
}

.storiesSection .storyItem {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    padding: 8px;
    width: 150px;
    height: 220px;
    border-radius: 20px;
    background-color: var(--background-card-color);
    align-items: center;
    text-align: center;
}

.storiesSection .storyItem.create {
    justify-content: end;
}

.storiesSection .storyItem button {
    gap: 8px;
    padding: 4px;
    font-weight: 500;
    font-size: var(--rem0-875);
    border-radius: 12px;
    /* background-color: var(--background-hover-color); */
    transition: all 0.5s;
}

.storiesSection .storyItem button:hover {
    background-color: var(--background-hover-color);
}

.storiesSection .storyItem .storyHeader, 
.storiesSection .storyItem .storyHeader .userCard {
    z-index: 2;
    justify-content: start;
    width: 100%;
}

.storiesSection .storyItem .storyHeader .userAvatar {
    width: 24px;
    height: 24px;
}

.storiesSection .storyItem .storyHeader .userAvatar svg {
    width: 16px;
    height: 16px;
}

.storiesSection .storyItem .storyImage {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-card-color);
}

.postsSection {
    background-color: var(--background-card-color);
    border-radius: 28px;
    width: 100%;
    height: 100%;
}

.likelyFriendsSection {
    background-color: var(--background-card-color);
    border-radius: 28px;
    width: 320px;
    padding: 16px;
}

.likelyFriendsSection .headingText {
    font-weight: 500;
    color: var(--text-color);
    font-size: var(--rem1);
}

.likelyFriendsSection .seeAllFriendsButton {
    transition: all 0.5s;
    font-size: var(--rem1);
    color: var(--text-color);
    font-weight: 500;
    background-color: var(--background-hover-color);
    border-radius: 12px;
}

.likelyFriendsSection .seeAllFriendsButton:hover {
    background-color: var(--active-color);
}