header {
    align-items: center;
    width: 100%;
    padding: 8px 240px;
    background-color: var(--background-card-color);
    -webkit-box-shadow: 0px 4px 10px 0px var(--shadow-color);
    -moz-box-shadow: 0px 4px 10px 0px var(--shadow-color);
    box-shadow: 0px 4px 10px 0px var(--shadow-color);
}

.logo {
    cursor: pointer;
    text-decoration: none;
}

.logo svg {
    width: auto;
    height: 48px;
}

.authBox {
    padding: 8px;
}

.authBox button {
    border-radius: 12px;
    border: 2px var(--text-color) solid;
    font-size: var(--rem1);
    line-height: 1.5;
    font-weight: 500;
    color: var(--text-color);
    transition: all 0.5s;
}

.authBox button:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

.userCard {
    cursor: pointer;
    border-radius: 12px;
    padding: 8px;
    transition: all 0.5s;
}

.userCard:hover {
    background-color: var(--background-hover-color);
}

.userCard .userAvatar {
    background-color: var(--text-color);
    width: 48px;
    height: 48px;
    border-radius: 100%;
}

.userCard .fullNameUser {
    font-size: var(--rem1);
    font-weight: 500;
    line-height: 1.5;
    color: var(--text-color);
}

.userCard .userName {
    font-size: var(--rem0_875);
    line-height: 1.5;
    font-weight: 500;
    color: var(--second-text-color);
}

.dropDownMenu button {
    align-items: center;
    justify-content: start;
    padding: 8px;
    border-radius: 12px;
    width: 100%;
    font-size: var(--rem1);
    line-height: 1.5;
    font-weight: 500;
    transition: all 0.5s;
}

.dropDownMenu button:hover {
    background-color: var(--background-hover-color);
}

.dropDownMenuButton:hover svg {
    color: var(--svg-hover-color);
}

.dropDownMenuButton svg {
    width: 36px;
    height: 36px;
    transition: all 0.5s;
}

.userBox {
    position: relative;
}

.dropDownMenu {
    padding: 16px;
    border-radius: 0px 0px 28px 28px;
    background-color: var(--background-card-color);
    position: absolute;
    top: 64px;
    right: 0px;
}

header nav .buttonsBox {
    position: relative;
}

header nav .nullMessage {
    white-space: nowrap;
    color: var(--second-text-color);
    font-size: var(--rem1);
    font-weight: 500;
}

.dropDownNotificationMenu {
    width: fit-content;
    padding: 16px;
    border-radius: 0px 0px 12px 12px;
    background-color: var(--background-card-color);
    position: absolute;
    top: 104%;
    left: 0px;
}

.dropDownMusicMenu {
    padding: 16px;
    border-radius: 0px 0px 12px 12px;
    background-color: var(--background-card-color);
    position: absolute;
    top: 104%;
    left: 0px;
}

.searchInput {
    padding: 8px;
    border-radius: 12px;
    background-color: var(--background-hover-color);
}

.searchInput input {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: var(--rem1);
    font-weight: 500;
    line-height: 1.5;
}

nav button {
    background-color: transparent;
    padding: 8px;
    border-radius: 12px;
    transition: all 0.5s;
}

nav button:hover {
    background-color: var(--background-hover-color);
}
