/* FONTS */
@font-face {
  font-family: "SFProText";
  font-weight: 300;
  src: url(../assets/fonts/SFProText-Light.ttf);
}

@font-face {
  font-family: "SFProText";
  font-weight: 400;
  src: url(../assets/fonts/SFProText-Regular.ttf);
}

@font-face {
  font-family: "SFProText";
  font-weight: 500;
  src: url(../assets/fonts/SFProText-Medium.ttf);
}

@font-face {
  font-family: "SFProText";
  font-weight: 600;
  src: url(../assets/fonts/SFProText-Semibold.ttf);
}

@font-face {
  font-family: "SFProText";
  font-weight: 700;
  src: url(../assets/fonts/SFProText-Bold.ttf);
}

@font-face {
  font-family: "SFProText";
  font-weight: 900;
  src: url(../assets/fonts/SFProText-Heavy.ttf);
}

:root {
  --background-color: #ffffff;
  --background-card-color: #f0f0f0;
  --background-hover-color: #e1e1e1;
  --active-color: #c4c4c4;
  --text-color: #1e1e1e;
  --svg-hover-color: #000;
  --second-text-color: #818181;
  --main-color: #ff8000;
  --main-hover-color: #ffa43c;
  --shadow-color: rgba(0, 0, 0, 0.25);
}

#root {
  width: 100vw;
  min-height: 100vh;
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.between {
  align-items: center;
  justify-content: space-between;
}

.g8 {
  gap: 8px;
}

.g16 {
  gap: 16px;
}

.g32 {
  gap: 32px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SFProText", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 8px 16px;
}

svg {
  width: 24px;
  height: 24px;
}

svg.colorSvg {
  color: var(--main-color);
}

svg.acentSvg {
  color: var(--text-color);
}

body {
  background-color: var(--background-color);
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 1.5s ease-in-out infinite;
}

.floating-input {
  position: relative;
  width: 100%;
  height: auto;
}

.floating-input input, .floating-input textarea {
  width: 100%;
  background-color: transparent;
  border: 2px var(--main-color) solid;
  padding: 16px;
  font-size: clamp(1rem, 2vh, 1.5rem);
  line-height: 1.2;
  color: var(--text-color);
  outline: none;
  border-radius: 16px;
}

/* Прячем placeholder, чтобы не мешался */
.floating-input input::placeholder, .floating-input textarea::placeholder {
  color: transparent;
}

/* Лейбл */
.floating-input label {
  position: absolute;
  left: 16px;
  top: 16px;
  font-size: clamp(1rem, 2vh, 1.5rem);
  line-height: 1.2;
  color: var(--text-color);
  pointer-events: none;
  padding: 0 4px;
  border-radius: 4px;
  transition: 0.2s ease all;
}

/* Когда поле пустое — label внутри */
.floating-input input:placeholder-shown + label, .floating-input textarea:placeholder-shown + label {
  top: 16px;
  font-size: clamp(1rem, 2vh, 1.5rem);
  line-height: 1.2;
  color: var(--text-color);
}

/* Когда фокус или есть текст — label наверху */
.floating-input input:focus + label,
.floating-input input:not(:placeholder-shown) + label,
.floating-input textarea:focus + label,
.floating-input textarea:not(:placeholder-shown) +label {
  display: flex;
  align-items: center;
  top: -16px;
  left: 8px;
  padding: 4px 8px;
  background-color: var(--background-card-color);
  font-size: clamp(0.8rem, 2vh, 1rem);
  color: var(--second-text-color); /* синий при фокусе */
}

main {
  flex: 2;
  width: 1440px;
}

.app-layout {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.app-body {
  display: flex;
  width: 1440px;
  flex: 1;
}

.app-main {
  padding: 16px;
  overflow-y: auto;
}