@use "scss-reset";
@import './variables';

#root {
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
}

.page {
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
}

.center {
    align-items: center;
    justify-content: center;
}

.column {
    flex-direction: column;
}