@use "scss-reset";
@import './variables';

@font-face {
  font-family: "SFProText";
  font-weight: 300;
  src: url(../assets/fonts/SFProText-Light.ttf);
}

@font-face {
  font-family: "SFProText";
  font-weight: 400;
  src: url(../assets/fonts/SFProText-Regular.ttf);
}

@font-face {
  font-family: "SFProText";
  font-weight: 500;
  src: url(../assets/fonts/SFProText-Medium.ttf);
}

@font-face {
  font-family: "SFProText";
  font-weight: 600;
  src: url(../assets/fonts/SFProText-Semibold.ttf);
}

@font-face {
  font-family: "SFProText";
  font-weight: 700;
  src: url(../assets/fonts/SFProText-Bold.ttf);
}

@font-face {
  font-family: "SFProText";
  font-weight: 900;
  src: url(../assets/fonts/SFProText-Heavy.ttf);
}

* {
  font-family: "SFProText", sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
}

body {
    background-color: $background-color;
}

.page {
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
}

.center {
    align-items: center;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.between {
    justify-content: space-between;
}

@for $i from 1 through 100 {
  .g#{$i} {
    gap: #{$i}px;
  }
}

.floating-input {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    input {
        width: 100%;
        background-color: transparent;
        border: 2px solid $main-color;
        outline: none;
        padding: 8px 16px;
        border-radius: 12px;
        font-size: $rem1;
        line-height: 1.5;
        color: $second-text-color;
    }

    label {
        position: absolute;
        left: 11px;
        top: 11px;
        color: $second-text-color;
        font-size: $rem1;
        font-weight: 500;
        pointer-events: none;
        transition: all 0.2s ease;
    }

    input:focus + label,
    input:not(:placeholder-shown) + label {
        font-size: $rem0_875;
        top: -6px;
        background-color: $background-card-color;
        color: $main-color;
        padding: 0px 8px;
    }
}

.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid $text-color;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid $text-color;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid $text-color;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}