@import './variables';

.chats {
  background: $background-card-color;
  height: 100%;
  overflow: auto;

  .chatsHeader {
    width: 100%;
    position: relative;
    padding: 16px;

    .dropDownMenuButton {
        color: $second-text-color;
        transition: all 0.4s;

        svg {
            max-width: none;
            width: 36px;
            height: 36px;
        }

        &:hover {
            color: $second-text-hover-color;
        }
    }

    .searchInput {
        background-color: $background-color;
        color: $second-text-color;
        width: 100%;
        padding: 8px 16px;
        line-height: 1.5;
        border-radius: 16px;
        font-size: $rem1;
    }

    .dropDownMenu {
        position: absolute;
        left: 0px;
        top: 0px;
        background-color: $background-card-color;
        width: 100%;

        .profileBox {
            padding: 16px;
            align-items: start;
            height: 120px;

            .user {
                height: 100%;
                width: 100%;
                background-color: $background-color;
            }

            .closeButton {
                svg {
                    color: $text-color;
                    width: 36px;
                    height: 36px;
                }
            }
        }

        nav {
            a {
                font-size: $rem1;
                font-weight: 500;
                line-height: 1.5;
                padding: 8px 16px;
                text-decoration: none;
                color: $text-color;
                background-color: transparent;
                transition: all 0.4s;

                &:hover {
                    background-color: $background-card-hover-color;
                }
            }
        }

        .theme-toggle {
            width: 100%;
            padding: 8px 16px;
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            gap: 8px;
            font-family: sans-serif;
            user-select: none;

            input {
                display: none;
            }

            .slider {
                position: relative;
                width: 50px;
                height: 26px;
                background: $second-text-color;
                border-radius: 26px;
                transition: background 0.3s ease;

                &::before {
                content: "";
                position: absolute;
                top: 3px;
                left: 3px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #fff;
                transition: transform 0.3s ease;
                }
            }

            input:checked + .slider {
                background: $main-color;

                &::before {
                transform: translateX(24px);
                }
            }

            .mode-text {
                font-size: $rem1;
                font-weight: 500;
                line-height: 1.5;
                color: $text-color;
            }
            }
    }
  }
}

.resizer {
    border-radius: 28px;
    width: 4px;
    height: 100%;
    background: transparent;
    cursor: col-resize;
    transition: background 0.2s;

    &:hover {
    background: $second-text-color;
    }
}

.messages {
    flex: 1;
    overflow: auto;
}
