@use './variables' as *;

.chats {
  background: $background-card-color;
  height: 100%;

  .chatsHeader {
    width: 100%;
    align-items: start;
    position: relative;
    padding: 16px;

    .dropDownMenuButton {
        color: $second-text-color;
        transition: all 0.4s;

        svg {
            max-width: none;
            width: 36px;
            height: 36px;
        }

        &:hover {
            color: $second-text-hover-color;
        }
    }

    .searchBox {
        position: relative;
        width: 100%;
        border-radius: 0px 12px 12px 12px;
        // padding: 8px;
        background-color: $background-color;

        &.active {
            border-radius: 0px 12px 0px 0px;
        }

        .searchInput {
            font-size: $rem1;
            line-height: 1.5;
            border-radius: 12px;
            padding: 8px;
            background-color: $background-color;
        }

        .nullMessage {
            text-align: start;
            font-size: $rem1;
            line-height: 1.5;
            color: $second-text-color;
            font-weight: 600;
            width: 100%;
            padding: 8px;
        }

        .searchResultBox {
            background-color: $background-color;
            width: 100%;
            position: absolute;
            top: 100%;
            border-radius: 0px 0px 12px 12px;
            overflow: hidden;

            .searchResultCard {
                align-items: center;
                cursor: pointer;
                background-color: transparent;
                transition: all 0.4s;
                padding: 16px;

                &:hover {
                    background-color: $background-card-hover-color;
                }

                .fullname {
                    color: $text-color;
                    font-size: $rem1;
                    font-weight: 600;
                    line-height: 1.5;
                }

                .username {
                    color: $second-text-color;
                    font-size: $rem0_875;
                    font-weight: 500;
                    line-height: 1.5;
                }
            }
        }
    }

    .dropDownMenu {
        overflow: hidden;
        z-index: 999;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $background-card-color;
        min-width: 300px;
        width: 100%;
        height: 100vh;
        padding: 8px 0;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.15);

        .profileBox {
            padding: 16px;
            align-items: start;

            .user {
                height: 100%;
                width: 100%;

                .userHeader {
                    align-items: center;

                    .textBox {
                        color: $text-color;
                        
                        .fullname {
                            white-space: nowrap;
                            font-size: $rem1;
                            line-height: 1.5;
                            font-weight: 500;
                        }

                        .username {
                            font-size: $rem0_875;
                            line-height: 1.5;
                            font-weight: 500;
                            color: $second-text-color;
                        }
                    }
                }

               .description {
                    width: 100%;
                    font-size: $rem0_875;
                    color: $second-text-color; 
                    font-weight: 500;
                    line-height: 1.5;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;
                    word-break: break-word;
                }

                .setDescriptionButton {
                    text-align: start;
                    color: $main-color;
                    transition: all 0.4s;

                    &:hover {
                        color: $main-hover-color;
                    }
                }
            }

            .closeButton {
                padding: 8px;
                
                svg {
                    max-width: none;
                    color: $text-color;
                    width: 24px;
                    height: 24px;
                }
            }
        }

        nav {
            a {
                display: flex;
                gap: 8px;
                align-items: center;
                font-size: $rem1;
                font-weight: 500;
                line-height: 1.5;
                padding: 8px 16px;
                text-decoration: none;
                color: $text-color;
                background-color: transparent;
                transition: all 0.4s;

                &:hover {
                    background-color: $background-card-hover-color;
                }

                svg {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .theme-toggle {
            width: 100%;
            padding: 8px 16px;
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            gap: 8px;
            font-family: sans-serif;
            user-select: none;

            input {
                display: none;
            }

            .slider {
                position: relative;
                width: 50px;
                height: 26px;
                background: $second-text-color;
                border-radius: 26px;
                transition: background 0.3s ease;

                &::before {
                content: "";
                position: absolute;
                top: 3px;
                left: 3px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #fff;
                transition: transform 0.3s ease;
                }
            }

            input:checked + .slider {
                background: $main-color;

                &::before {
                transform: translateX(24px);
                }
            }

            .mode-text {
                font-size: $rem1;
                font-weight: 500;
                line-height: 1.5;
                color: $text-color;

                svg {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
  }

  .chatCard {
    background-color: transparent;
    width: 100%;
    padding: 16px;
    transition: all 0.4s;

    &:hover {
        cursor: pointer;
        background-color: $background-card-hover-color;
    }

    .chatCardInfo {
        color: $text-color;
        align-items: start;
        width: 100%;

        .chatCardInfoHeader {
            width: 100%;
        }

        .fullname {
            line-height: 1.5;
            font-size: $rem1;
            font-weight: 600;
        }

        .lastMessageDate {
            color: $second-text-color;
            line-height: 1.5;
            font-size: $rem0_875;
            font-weight: 500;
        }

        .chatCardInfoContent {
            color: $second-text-color;
            line-height: 1.5;
            font-weight: 400;
            font-size: $rem0_875;
        }
    }
  }
}

.chats.collapsed {

    .chatsHeader {
        position: static;
        .searchInput {
            display: none;
        }

        .dropDownMenu {
            overflow: hidden;
            z-index: 2;
            width: 300px;
            height: 100%;
        }
    }

    .chatCard {
        img {
            max-width: none;
            width: 36px;
            height: 36px;
        }

        .chatCardInfo {
            display: none;
        }
    }
}

.resizer {
    border-radius: 28px;
    width: 4px;
    height: 100%;
    background-color: $background-card-color;
    cursor: col-resize;
    transition: background-color 0.2s;

    &:hover {
        background-color: $second-text-color;
    }
}

.messages {
    width: 100%;
    height: 100vh;
    overflow: auto;

    .messagesBox {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;

        .messagesContent {
            width: 100%;
            height: 100%;
            padding: 72px 8px 8px 8px;
            padding-bottom: 60px;
            overflow-y: scroll;
        }

        .messagesContent::-webkit-scrollbar {
            width: 8px;
        }
        .messagesContent::-webkit-scrollbar-track {
            background: transparent;
        }
        .messagesContent::-webkit-scrollbar-thumb {
            background-color: $main-color;
            border-radius: 20px;
        }

        .messageHeader {
            position: relative;
            -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2);
            padding: 8px;
            background-color: $background-card-color;
            position: absolute;
            align-items: center;
            top: 0px;
            left: 0px;
            width: calc(100% - 8px);

            .textBox {
                .fullname {
                    color: $text-color;
                    font-size: $rem1;
                    line-height: 1.5;
                    font-weight: 500;
                }
                
                .onlineStatus {
                    color: $second-text-color;
                    font-size: $rem0_875;
                    line-height: 1.5;
                    font-weight: 500;

                    &.active {
                        color: $main-color;
                    }
                }
            }

            nav {
                button {
                    padding: 8px;
                    color: $second-text-color;
                    transition: all 0.5s;

                    svg {
                        cursor: pointer;
                        width: 24px;
                    }

                    &:hover {
                        color: $second-text-hover-color;
                    }
                }
            }

            .dropDownMenu.more {
                position: absolute;
                top: 100%;
                right: 0px;
                padding: 16px;
                border-radius: 0px 0px 20px 20px;
                width: 320px;
                background-color: $background-card-color;
            }

            .searchInput {
                position: absolute;
                right: 88px;
                background-color: $background-card-color;
                
                input {
                    background-color: transparent;
                    border: 2px $second-text-color solid;
                    border-radius: 12px;
                    padding: 8px;
                    font-size: $rem1;
                    line-height: 1.5;
                    color: $second-text-color;
                }

                button {
                    padding: 8px;
                    color: $second-text-color;
                    transition: all 0.5s;
                    
                    svg {
                        width: 24px;
                    }

                    &:hover {
                        color: $second-text-hover-color;
                    }
                }
            }
        }

        .messageInput {
            -webkit-box-shadow: 0px -6px 8px 0px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px -6px 8px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px -6px 8px 0px rgba(0, 0, 0, 0.2);
            padding: 8px;
            background-color: $background-card-color;
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: calc(100% - 8px);
            
            input {
                background-color: transparent;
                width: 100%;
                font-size: $rem1;
                line-height: 1.5;
                color: $text-color;
            }

            .sendMessageButton {
                padding: 8px;
                background-color: $main-color;
                transition: all 0.4s;
                border-radius: 12px;

                &:hover {
                    background-color: $main-hover-color;
                }

                svg {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}

.userAvatar {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    position: relative;
    overflow: hidden;

    img {
        z-index: 2;
        border-radius: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .online-dot {
        border-radius: 100%;
        bottom: 1px;
        right: 1px;
        position: absolute;
        z-index: 3;
        background-color: $main-color;
        width: 12px;
        height: 12px;
    }
}

.alertMessage {
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(6px);

    .alertMessageContent {
        background-color: $background-color;
        padding: 32px;
        border-radius: 44px;

        .alertMessageText {
            font-size: $rem2;
            line-height: 1.4;
            color: $text-color;
            font-weight: 600;
        }

        button {
            color: $main-color;
            background-color: transparent;
            padding: 8px 16px;
            font-size: $rem1;
            line-height: 1.5;
            font-weight: 500;
            transition: all 0.4s;
            border-radius: 12px;

            &:hover {
                background-color: $background-card-hover-color;
                
            }
        }

        .confirmButton {
            color: red;
            
            &:hover {
                background-color: rgba($color: #ff7878, $alpha: 0.4);
            }
        }
    }
}