@use './variables' as *;
@use './keyframes' as *;

.userAvatar {
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    width: 48px;
    height: 48px;

    img {
        z-index: 2;
        border-radius: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .online-dot {
        border-radius: 100%;
        bottom: 1px;
        right: 1px;
        position: absolute;
        z-index: 3;
        background-color: $main-color;
        width: 12px;
        height: 12px;
    }
}

.alertMessage {
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(6px);

    .alertMessageContent {
        background-color: $background-color;
        padding: 32px;
        border-radius: 44px;

        .alertMessageText {
            font-size: $rem2;
            line-height: 1.4;
            color: $text-color;
            font-weight: 600;
        }

        button {
            color: $main-color;
            background-color: transparent;
            padding: 8px 16px;
            font-size: $rem1;
            line-height: 1.5;
            font-weight: 500;
            transition: all 0.5s;
            border-radius: 12px;

            &:hover {
                background-color: $background-card-hover-color;

                svg {
                    transform: rotate(30deg);
                }
            }
        }

        .confirmButton {
            color: red;
            
            &:hover {
                background-color: rgba($color: #ff7878, $alpha: 0.4);
            }
        }
    }
}

.notificationMessage {
    padding: 8px;
    align-items: start;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;

    .notificationContent {
        font-size: $rem1;
        color: $text-color;
        font-weight: 500;
        line-height: 1.5;
        padding: 12px;
        border-radius: 20px;
        background-color: $background-color;
    }
}

.userProfileAlert {
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(6px);
}

.userProfile {
    min-width: 320px;
    background-color: $background-color;
    border-radius: 28px;
    overflow: hidden;

    .userProfileHeader {
        padding: 16px;
        align-items: center;

        .backButton.none {
            display: none;
        }
        
        button {
            background-color: transparent;
            padding: 0 !important;
            transition: all 0.5s;
            
            svg {
                color: $second-text-color;
            }

            &:hover {
                svg {
                    color: $second-text-hover-color;
                    transform: rotate(30deg);
                }
            }
        }

        span {
            color: $second-text-color;
            font-size: $rem1_5;
            line-height: 1.4;
            font-weight: 500;
        }
    }

    .userInfoHeader {
        padding: 16px;

        .fullname {
            font-size: $rem1;
            color: $text-color;
            font-weight: 500;
        }
    }

    .editProfileButton {
        justify-content: start;
        font-size: $rem1;
        line-height: 1.5;
        color: $second-text-color;
        font-weight: 500;
        padding: 16px;
        width: 100%;
        transition: all 0.5s;
        background-color: transparent;

        &:hover {
            background-color: $background-card-hover-color;
            
            svg {
                transform: rotate(30deg);
            }
        }
    }

    .moreInfo {
        padding: 16px;
        width: 100%;

        svg {
            width: 36px;
            height: 36px;
        }

        .moreInfoCard {
            gap: 4px;
            width: 100%;

            .phone, .username {
                font-size: $rem1;
                font-weight: 500;
                color: $text-color;
            }

            .username {
                cursor: pointer;
                color: $main-color;
            }

            .body {
                font-size: $rem0_875;
                color: $second-text-color;
                font-weight: 500;
                line-height: 1.5;
            }
        }
    }

    .editProfileAlert {
        .editProfileHeader {
            position: relative;
            padding: 16px;
            background-color: transparent;
            align-items: center;
            transition: all 0.5s;
            cursor: pointer;

            .userAvatar {
                width: 64px;
                height: 64px;
                position: relative;
                overflow: hidden;
                cursor: pointer;
                transition: all 0.5s;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }

                .uploadImageButton {
                    display: none;
                }

                &:hover {

                    .uploadImageButton {
                        padding: 8px;
                        background-color: rgba($color: #000000, $alpha: 0.5);
                        border-radius: 100%;
                        z-index: 99;
                        display: flex;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }

            .fullname {
                z-index: 3;
                padding: 8px;
                color: $text-color;
                font-size: $rem2;
                line-height: 1.3;
                font-weight: 500;
            }
        }

        .descriptionInput {
            color: $text-color;
            padding: 16px;
            background-color: transparent;
        }

        .descriptionBody {
            padding: 16px;
            color: $second-text-color;
            font-size: $rem0_875;
            line-height: 1.5;
            font-weight: 300;
            background-color: $background-card-color;
        }

        .editProfileMoreInfo {
            padding: 8px 0px;
            .editProfileMoreCard {
                width: 100%;
                padding: 8px 16px;
                background-color: transparent;
                transition: all 0.5s;
                cursor: pointer;

                &:hover {
                    background-color: $background-card-color;
                    
                    svg {
                        transform: rotate(30deg);
                    }
                }

                .bodyBox {
                    svg {
                        path {
                            stroke: $second-text-color;
                        }
                    }

                    .bodyText {
                        font-size: $rem1;
                        font-weight: 500;
                        color: $second-text-color;
                    }
                }

                input {
                    padding: 8px;
                    font-size: $rem1;
                    color: $main-color;
                    background-color: transparent;
                    border-bottom: 1px $main-color solid;
                    outline: none;
                }
            }
        }

        .saveChangesButton {
            width: 100%;
            padding: 16px;
            font-size: $rem1_5;
            color: $text-color;
            font-weight: 500;
            transition: all 0.5s;
            
            &:hover {
                background-color: rgba($color: #09ff00, $alpha: 0.3);

                svg {
                    animation: rotate1080deg 5s infinite;
                }
            }
        }
    }
}

.peakChatMessage {
    font-size: $rem2;
    color: $text-color;
    font-weight: 600;
}

.onlineStatus {
    color: $second-text-color;
    font-size: $rem0_875;
    line-height: 1.5;
    font-weight: 500;

    &.active {
        color: $main-color;
    }
}

svg {
    max-width: none;
    width: 24px;
    height: 24px;
    transition: all 0.5s;
}