@import './variables';

.chats {
  background: $background-card-color;
  height: 100%;
  overflow: auto;

  .chatsHeader {
    width: 100%;
    position: relative;
    padding: 16px;

    .dropDownMenuButton {
        color: $second-text-color;
        transition: all 0.4s;

        svg {
            max-width: none;
            width: 36px;
            height: 36px;
        }

        &:hover {
            color: $second-text-hover-color;
        }
    }

    .searchInput {
        background-color: $background-color;
        color: $second-text-color;
        width: 100%;
        padding: 8px 16px;
        line-height: 1.5;
        border-radius: 16px;
        font-size: $rem1;
    }

    .dropDownMenu {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $background-card-color;
        min-width: 300px;
        width: 100%;
        height: 100vh;
        padding: 8px 0;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.15);

        .profileBox {
            padding: 16px;
            align-items: start;

            .user {
                height: 100%;
                width: 100%;

                .userHeader {
                    align-items: center;

                    .userAvatar {
                        max-width: none;
                        width: 48px;
                        height: 48px;
                        border-radius: 50%;

                        img {
                            width: 100%;
                        }
                    }

                    .textBox {
                        color: $text-color;
                        
                        .fullname {
                            white-space: nowrap;
                            font-size: $rem1;
                            font-weight: 500;
                        }

                        .username {
                            font-size: $rem0_875;
                            font-weight: 500;
                            color: $second-text-color;
                        }
                    }
                }

               .description {
                    width: 100%;
                    font-size: $rem0_875;
                    color: $second-text-color; 
                    font-weight: 500;
                    line-height: 1.5;

                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;

                    overflow: hidden;
                    text-overflow: ellipsis;

                    white-space: normal;
                    word-break: break-word;
                }

                .setDescriptionButton {
                    text-align: start;
                    color: $main-color;
                    transition: all 0.4s;

                    &:hover {
                        color: $main-hover-color;
                    }
                }
            }

            .closeButton {
                svg {
                    max-width: none;
                    color: $text-color;
                    width: 36px;
                    height: 36px;
                }
            }
        }

        nav {
            a {
                display: flex;
                gap: 8px;
                align-items: center;
                font-size: $rem1;
                font-weight: 500;
                line-height: 1.5;
                padding: 8px 16px;
                text-decoration: none;
                color: $text-color;
                background-color: transparent;
                transition: all 0.4s;

                &:hover {
                    background-color: $background-card-hover-color;
                }

                svg {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .theme-toggle {
            width: 100%;
            padding: 8px 16px;
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            gap: 8px;
            font-family: sans-serif;
            user-select: none;

            input {
                display: none;
            }

            .slider {
                position: relative;
                width: 50px;
                height: 26px;
                background: $second-text-color;
                border-radius: 26px;
                transition: background 0.3s ease;

                &::before {
                content: "";
                position: absolute;
                top: 3px;
                left: 3px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #fff;
                transition: transform 0.3s ease;
                }
            }

            input:checked + .slider {
                background: $main-color;

                &::before {
                transform: translateX(24px);
                }
            }

            .mode-text {
                font-size: $rem1;
                font-weight: 500;
                line-height: 1.5;
                color: $text-color;

                svg {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
  }
}

.chats.collapsed {

    .chatsHeader {
        position: static;
        .searchInput {
            display: none;
        }

        .dropDownMenu {
            z-index: 2;
            width: 300px;
            height: 100%;
        }
    }
}

.resizer {
    border-radius: 28px;
    width: 4px;
    height: 100%;
    background: transparent;
    cursor: col-resize;
    transition: background 0.2s;

    &:hover {
    background: $second-text-color;
    }
}

.messages {
    flex: 1;
    overflow: auto;
}
