@use './variables' as *;

.userAvatar {
    flex-shrink: 0;
    position: relative;
    overflow: hidden;

    img {
        z-index: 2;
        border-radius: 100%;
        width: 100%;
        width: 48px;
        height: 48px;
        height: 100%;
        object-fit: cover;
    }

    .online-dot {
        border-radius: 100%;
        bottom: 1px;
        right: 1px;
        position: absolute;
        z-index: 3;
        background-color: $main-color;
        width: 12px;
        height: 12px;
    }
}

.alertMessage {
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(6px);

    .alertMessageContent {
        background-color: $background-color;
        padding: 32px;
        border-radius: 44px;

        .alertMessageText {
            font-size: $rem2;
            line-height: 1.4;
            color: $text-color;
            font-weight: 600;
        }

        button {
            color: $main-color;
            background-color: transparent;
            padding: 8px 16px;
            font-size: $rem1;
            line-height: 1.5;
            font-weight: 500;
            transition: all 0.4s;
            border-radius: 12px;

            &:hover {
                background-color: $background-card-hover-color;
                
            }
        }

        .confirmButton {
            color: red;
            
            &:hover {
                background-color: rgba($color: #ff7878, $alpha: 0.4);
            }
        }
    }
}

.notificationMessage {
    padding: 8px;
    align-items: start;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;

    .notificationContent {
        font-size: $rem1;
        color: $text-color;
        font-weight: 500;
        line-height: 1.5;
        padding: 12px;
        border-radius: 20px;
        background-color: $background-color;
    }
}

.userProfileAlert {
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(6px);

    .userProfile {
        min-width: 320px;
        padding: 16px;
        background-color: $background-color;
        border-radius: 28px;

        .userProfileHeader {
            align-items: center;
            
            nav {
                display: flex;
                gap: 4px;
                button {
                    padding: 0 !important;
                }
            }

            span {
                color: $second-text-color;
                font-size: $rem1_5;
                line-height: 1.4;
                font-weight: 500;
            }
        }

        .userInfoHeader {
            padding: 16px 0px;
        }

        .moreInfo {
            width: 100%;

            svg {
                width: 36px;
                height: 36px;
            }

            .moreInfoCard {
                gap: 4px;
                width: 100%;

                .phone, .username {
                    font-size: $rem1;
                    font-weight: 500;
                    color: $text-color;
                }

                .username {
                    cursor: pointer;
                    color: $main-color;
                }

                .body {
                    font-size: $rem0_875;
                    color: $second-text-color;
                    font-weight: 500;
                    line-height: 1.5;
                }
            }
        }
    }
}

.peakChatMessage {
    font-size: $rem2;
    color: $text-color;
    font-weight: 600;
}