@import './variables';

.chats {
  background: #f0f0f0;
  height: 100%;
  overflow: auto;
}

.resizer {
  width: 6px;
  height: 100%;
  background: #ccc;
  cursor: col-resize;
  transition: background 0.2s;

  &:hover {
    background: #999;
  }
}

.messages {
  flex: 1;
  background: #e6e6e6;
  overflow: auto;
}
