

.navigateSection {
    background-color: var(--background-card-color);
    padding: 16px;
    border-radius: 28px;
    -webkit-box-shadow: 0px 4px 10px 0px var(--shadow-color);
    -moz-box-shadow: 0px 4px 10px 0px var(--shadow-color);
    box-shadow: 0px 4px 10px 0px var(--shadow-color);
}

.sectionNavButton {
    font-size: var(--rem1);
    font-weight: 500;
    line-height: 1.5;
}

.sectionNavButton.active {
    background-color: var(--active-color);
}

.section .playlistsBox {
    width: 100%;
}

.section .line {
    width: 100%;
    height: 1px;
    background-color: var(--text-color);
}

.section .musicBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 0;
    gap: 8px;
}

.section .musicBox .musicCard {
    cursor: pointer;
    width: 100%;
    min-width: 0;
    border-radius: 12px;
    padding: 8px;
    background-color: transparent;
    transition: all 0.5s;
}

.section .musicBox .musicCard .musicAvatar {
    background-color: var(--text-color);
    min-width: 48px;
    min-height: 48px;
    max-width: 48px;
    max-height: 48px;
    border-radius: 4px;
}

.section .musicBox .musicCard .musicAvatar img {
    z-index: 1;
    width: 100%;
    height: 100%;
}

.section .musicBox .musicCard .musicAvatar:hover .playButton {
    padding: 4px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto; /* теперь можно кликать */
    backdrop-filter: blur(10px);
    border-radius: 12px;
}

.section .musicBox .musicCard .musicAvatar .playButton {
    z-index: 10;
    opacity: 0;
}

.section .musicBox .musicCard:hover {
    background-color: var(--background-hover-color);
}

.section .musicBox .musicCard audio {
    display: none;
}

.section .musicBox .musicCard .textBox {
    min-width: 0;
}

.section .musicBox .musicCard .textBox .musicName {
    color: var(--text-color);
    font-size: var(--rem1);
    font-weight: 500;
}

.section .musicBox .musicCard .textBox .musicAuthor {
    color: var(--second-text-color);
    font-size: var(--rem1);
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.section .seeAllMusicButton {
    width: 100%;
    padding: 8px;
    font-size: var(--rem1);
    font-weight: 500;
    color: var(--text-color);
    border-radius: 12px;
    background-color: var(--background-hover-color);
    transition: all 0.5s;
}

.section .seeAllMusicButton:hover {
    background-color: var(--active-color);
}

.playlistCard {
    width: calc(128px + 16px);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 12px;
    transition: all 0.5s;
}

.playlistCard .playlistName {
    width: 100%;
    text-align: start;
    font-weight: 500;
    font-size: var(--rem0-875);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.playlistCard .playlistAvatar {
    border-radius: 12px;
    width: 128px;
    height: 128px;
    background-color: var(--text-color);
}

.playlistCard:hover {
    background-color: var(--background-hover-color);
}

.friendsSection {
    padding: 16px;
    background-color: var(--background-card-color);
    border-radius: 28px;
}

.friendsSection .headingText {
    padding-left: 8px;
    align-items: center;
}

.friendsSection .headingText .titleText {
    font-size: var(--rem1);
    font-weight: 500;
    color: var(--text-color);
}

.friendsSection .headingText .circle {
    border-radius: 100%;
    width: 4px;
    height: 4px;
    background-color: var(--second-text-color);
}

.friendsSection .headingText .countText {
    font-size: var(--rem0-875);
    font-weight: 500;
    color: var(--second-text-color);
}

.allFriendsBox .friendItem {
    border-radius: 12px;
    align-items: center;
    cursor: pointer;
    gap: 4px;
    padding: 8px;
    background-color: transparent;
    transition: all 0.5s;
}

.allFriendsBox .friendItem:hover {
    background-color: var(--background-hover-color);
}

.allFriendsBox .friendItem .userAvatar {
    width: 48px;
    height: 48px;
    background-color: var(--text-color);
    border-radius: 100%;
}

.allFriendsBox .friendItem .friendName {
    font-size: var(--rem1);
    font-weight: 500;
    color: var(--text-color);
}