
.skeleton {
  cursor: pointer;
  border-radius: 12px;
  padding: 8px;
  transition: all 0.5s;
  background-color: var(--background-hover-color);
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.skeleton-line,
.skeleton-avatar {
  animation: pulse 1.5s ease-in-out infinite;
  background-color: var(--background-color);
  border-radius: 4px;
}

.skeleton-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.skeleton-line {
  height: 16px;
  margin-bottom: 4px;
  width: 120px;
}

.skeleton-line.short {
  width: 80px;
}

.textBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* UserProfileCardSkeleton.tsx */

.skeleton-profile {
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 28px;
  background-color: var(--background-hover-color);
}

.skeleton-profile .skeleton-head-image {
  animation: pulse 1.5s ease-in-out infinite;
  width: 100%;
  height: 220px;
  background-color: var(--background-card-color);
}

.skeleton-profile .skeleton-user-info {
  padding: 8px;
  align-items: start;
}

.skeleton-profile .skeleton-user-info .skeleton-user-info-card {
  padding: 8px;
  background-color: var(--background-card-color);
  border-radius: 20px;
}

.skeleton-profile .skeleton-user-info .skeleton-user-info-card .userAvatar {
  animation: pulse 1.5s ease-in-out infinite;
  background-color: var(--background-color);
  width: 128px;
  height: 128px;
  border-radius: 100%;
}

.skeleton-profile .skeleton-user-info .skeleton-user-info-card .textBox p {
  animation: pulse 1.5s ease-in-out infinite;
  background-color: var(--background-hover-color);
  border-radius: 12px;
  height: 24px;
  width: 120px;
}

.skeleton-profile .skeleton-user-info .skeleton-user-info-card .textBox .usernameBox {
  align-items: center;
}

.skeleton-profile .skeleton-user-info .skeleton-user-info-card .textBox .fullNameUser {
  height: 34px;
  width: 184px;
}

.skeleton-profile .skeleton-user-info .skeleton-user-info-card .textBox .description {
  width: 100%;
  height: 48px;
}

.skeleton-buttons-box {
  padding: 8px;
  background-color: var(--background-card-color);
  border-radius: 20px;
}

.skeleton-buttons-box button {
  animation: pulse 1.5s ease-in-out infinite;
  background-color: var(--background-hover-color);
  border-radius: 12px;
  height: 50px;
}

.skeleton-buttons-box button:nth-child(1) {
  width: 250px;
}

.skeleton-buttons-box button:nth-child(2) {
  width: 120px;
}

.navigation-skeleton {
  padding: 16px 0px;
  border-radius: 20px;
  height: fit-content;
}

.navigation-skeleton .button-skeleton {
  animation: pulse 1.5s ease-in-out infinite;
  width: 170px;
  height: 40px;
  border-radius: 12px;
  background-color: var(--background-card-color);
}

.playlistCard-skeleton {
  animation: pulse 1.5s ease-in-out infinite;
  width: calc(128px + 16px);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 12px;
  transition: all 0.5s;
}

.playlistCard-skeleton  .playlistName {
  width: 100%;
  height: 24px;
  border-radius: 8px;
  text-align: start;
  font-weight: 500;
  font-size: var(--rem0-875);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: var(--background-hover-color);
}

.playlistCard-skeleton .playlistAvatar {
  border-radius: 12px;
  width: 128px;
  height: 128px;
  background-color: var(--background-hover-color);
}

.section .line-skeleton {
  width: 100%;
  height: 1px;
  background-color: var(--background-hover-color);
}


.section .musicBox .musicCard-skeleton {
  animation: pulse 1.5s ease-in-out infinite;
  width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 8px;
  background-color: transparent;
  transition: all 0.5s;
}

.section .musicBox .musicCard-skeleton .musicAvatar {
    background-color: var(--background-hover-color);
    min-width: 48px;
    min-height: 48px;
    max-width: 48px;
    max-height: 48px;
    border-radius: 4px;
}

.section .musicBox .musicCard-skeleton .textBox {
    min-width: 0;
    gap: 4px;
}

.section .musicBox .musicCard-skeleton .textBox .musicName, 
.section .musicBox .musicCard-skeleton .textBox .musicAuthor {
  height: 24px;
  width: 300px;
  background-color: var(--background-hover-color);
  font-size: var(--rem1);
  font-weight: 500;
  border-radius: 8px;
}

.section .seeAllMusicButton-skeleton {
  animation: pulse 1.5s ease-in-out infinite;
  background-color: var(--background-hover-color);
  width: 100%;
  height: 40px;
  border-radius: 12px;
}


.friendsSection-skeleton,
.giftsSection-skeleton, 
.groupSection-skeleton,
.profilePost-skeleton {
  padding: 16px;
  background-color: var(--background-card-color);
  border-radius: 28px;
}

.friendsSection-skeleton .headingText,
.giftsSection-skeleton .headingText,
.groupSection-skeleton .headingText {
  animation: pulse 1.5s ease-in-out infinite;
  background-color: var(--background-hover-color);
  width: 100%;
  height: 20px;
  border-radius: 12px;
  padding-left: 8px;
  align-items: center;
}

.friendsSection-skeleton .allFriendsBox .friendItem-skeleton,
.giftsSection-skeleton .allGiftsBox .giftItem-skeleton {
  animation: pulse 1.5s ease-in-out infinite;
  background-color: var(--background-hover-color);
  border-radius: 12px;
  width: 64px;
  height: 87px;
}

.giftsSection-skeleton .allGiftsBox .giftItem-skeleton {
  height: 64px;
}

.groupSection-skeleton .allGroupsBox .groupItem-skeleton {
  width: 100%;
  border-radius: 12px;
  background-color: var(--background-hover-color);
  height: 56px;
}

.storiesSection-skeleton {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.storiesSection-skeleton .storyItem {
  animation: pulse 1.5s ease-in-out infinite;
  padding: 8px;
  justify-content: end;
  width: 150px;
  height: 220px;
  background-color: var(--background-card-color);
  border-radius: 20px;
}

.storiesSection-skeleton .storyItem .button-skeleton {
  background-color: var(--background-hover-color);
  width: 100%;
  height: 32px;
  border-radius: 12px;
}

.profilePost-skeleton .postItem {
  animation: pulse 1.5s ease-in-out infinite;
  border-radius: 20px;
  padding: 16px;
  background-color: var(--background-hover-color);
}

.profilePost-skeleton .postItem .postHeader .userAvatar {
  background-color: var(--background-card-color);
  width: 48px;
  height: 48px;
  border-radius: 100%;
}

.profilePost-skeleton .postItem .postHeader {
  justify-content: start;
}

.profilePost-skeleton .postItem .postHeader .skeleton-text {
  width: 30%;
  background-color: var(--background-card-color);
  height: 28px;
  border-radius: 8px;
}

.profilePost-skeleton .postItem .post-title-skeleton .post-title-content-skeleton {
  background-color: var(--background-card-color);
  height: 28px;
  border-radius: 8px;
}

.profilePost-skeleton .postItem .post-info-skeleton {
  background-color: var(--background-card-color);
  height: 48px;
  border-radius: 8px;
}